#!/bin/bash
#
# Script to make a proxy (ie HAProxy) capable of monitoring MariaDB Galera Cluster nodes properly
#
# Author: Olaf van Zandwijk <olaf.vanzandwijk@nedap.com>
# Author: Raghavendra Prabhu <raghavendra.prabhu@percona.com>
#
# Documentation and download: https://github.com/olafz/percona-clustercheck
#
# Based on the original script from Unai Rodriguez
#

if [[ $1 == '-h' || $1 == '--help' ]];then
    echo "Usage: $0 <user> <pass> <available_when_donor=0|1> <log_file> <available_when_readonly=0|1> <defaults_extra_file>"
    exit
fi

# if the disabled file is present, return 503. This allows
# admins to manually remove a node from a cluster easily.
if [ -e "/var/tmp/clustercheck.disabled" ]; then
    # Shell return-code is 1
    httpReply "503" "MariaDB Galera Cluster node is manually disabled.\r\n"
    exit 1
fi

MYSQL_USERNAME="{{ clustercheck_db_user }}"
MYSQL_PASSWORD="{{ clustercheck_db_password }}"
AVAILABLE_WHEN_DONOR=${3:-0}
MYSQL_CMD=mysql
ERR_FILE="{{ clustercheck_error_log }}"
AVAILABLE_WHEN_READONLY=${5:-1}
DEFAULTS_EXTRA_FILE=${6:-/etc/my.cnf}

# Timeout exists for instances where mysqld may be hung
# Set to be bigger than Galera parameter: evs.inactive_timeout
TIMEOUT=20

# httpReply
function httpReply(){
    HTTP_STATUS="${1}"
    RESPONSE_CONTENT="${2}"
    CONTENT_LENGTH=$(echo $RESPONSE_CONTENT | wc -c)

    if [[ "${HTTP_STATUS}" == "200" ]]
    then
        echo -en "HTTP/1.1 200 OK\r\n"
    elif [[ "${HTTP_STATUS}" == "503" ]]
    then
        echo -en "HTTP/1.1 503 Service Unavailable\r\n"
    elif [[ "${HTTP_STATUS}" == "404" ]]
    then
        echo -en "HTTP/1.1 404 Not Found\r\n"
    elif [[ "${HTTP_STATUS}" == "401" ]]
    then
        echo -en "HTTP/1.1 401 Unauthorized\r\n"
    else
        echo -en "HTTP/1.1 ${HTTP_STATUS}\r\n"
    fi

    echo -en "Content-Type: text/plain\r\n"
    echo -en "Connection: close\r\n"
    echo -en "Content-Length: ${CONTENT_LENGTH}\r\n"
    echo -en "\r\n"
    echo -en "${RESPONSE_CONTENT}"
    sleep 0.1
}

# formatError returns error message with added time in the front of it
function formatError(){
    ERR_MSG="${1}"
    printf "%s %s\n" "`date --iso-8601=seconds `" "${ERR_MSG}";
}

EXTRA_ARGS=""
if [[ -n "$MYSQL_USERNAME" ]]; then
    EXTRA_ARGS="$EXTRA_ARGS --user=${MYSQL_USERNAME}"
fi
if [[ -n "$MYSQL_PASSWORD" ]]; then
    EXTRA_ARGS="$EXTRA_ARGS --password=${MYSQL_PASSWORD}"
fi
if [[ -r $DEFAULTS_EXTRA_FILE ]];then
    MYSQL_CMDLINE="$MYSQL_CMD --defaults-extra-file=$DEFAULTS_EXTRA_FILE -nNE --connect-timeout=$TIMEOUT \
                    ${EXTRA_ARGS}"
else
    MYSQL_CMDLINE="$MYSQL_CMD -nNE --connect-timeout=$TIMEOUT ${EXTRA_ARGS}"
fi
#
# Perform the query to check the wsrep_local_state
#
# WSREP_STATUS=$($MYSQL_CMDLINE -e "SHOW STATUS LIKE 'wsrep_local_state';" \
#     2>>${ERR_FILE} | tail -1 2>>${ERR_FILE}; exit ${PIPESTATUS[0]})
ERROR_TEMP_FILE=$(mktemp)
WSREP_STATUS=$({ $MYSQL_CMDLINE -e "SHOW STATUS LIKE 'wsrep_local_state';" | \
    tail -1; } 2>${ERROR_TEMP_FILE}; exit ${PIPESTATUS[0]})
if [[ ${PIPESTATUS[0]} -ne 0 ]]; then
  formatError "`cat ${ERROR_TEMP_FILE}`" >> ${ERR_FILE}
fi
mysql_ret=$?

# Check if we can connect to local database with `mysql` client
if [[ $mysql_ret -eq 1 || $mysql_ret -eq 127 ]]; then
    # hash or command can be used here, but command is POSIX
    command -v "$MYSQL_CMD"; mysql_ret=$?
    if [[ $mysql_ret -eq 1 ]]; then
        # mysql program not found
        # => return HTTP 404
        # Shell return-code is 3
        httpReply "404" "Mysql command not found.\r\n"
        sleep 0.1
        exit 3
    fi
    # Failed mysql login
    # => return HTTP 401
    # Shell return-code is 2
    httpReply "401" "Access denied to database.\r\n"
    sleep 0.1
    exit 2
fi


if [[ "${WSREP_STATUS}" == "4" ]] || [[ "${WSREP_STATUS}" == "2" && ${AVAILABLE_WHEN_DONOR} == 1 ]]
then
    # Check only when set to 0 to avoid latency in response.
    if [[ $AVAILABLE_WHEN_READONLY -eq 0 ]];then
        ERROR_TEMP_FILE=$(mktemp)
        READ_ONLY=$({ $MYSQL_CMDLINE -e "SHOW GLOBAL VARIABLES LIKE 'read_only';" | \
            tail -1; } 2>${ERROR_TEMP_FILE}; exit ${PIPESTATUS[0]})
        if [[ ${PIPESTATUS[0]} -ne 0 ]]; then
          formatError "`cat ${ERROR_TEMP_FILE}`" >> ${ERR_FILE}
        fi

        if [[ "${READ_ONLY}" == "ON" ]];then
            # MariaDB Galera Cluster node local state is 'Synced', but it is in
            # read-only mode. The variable AVAILABLE_WHEN_READONLY is set to 0.
            # => return HTTP 503
            # Shell return-code is 1
            httpReply "503" "MariaDB Galera Cluster node is read-only.\r\n"
            exit 1
        fi
    fi
    # MariaDB Galera Cluster node local state is 'Synced' => return HTTP 200
    # Shell return-code is 0
    httpReply "200" "MariaDB Galera Cluster node is synced.\r\n"
    exit 0
else
    # MariaDB Galera Cluster node local state is not 'Synced' => return HTTP 503
    # Shell return-code is 1
    if [[ -z "${WSREP_STATUS}" ]]
    then
        httpReply "503" "Received empty reply from MariaDB Galera Cluster node.\r\nMight be a permission issue, check the credentials used by ${0}\r\n"
    else
        httpReply "503" "MariaDB Galera Cluster node is not synced.\r\n"
    fi
    exit 1
fi
