[mysqld]
datadir=/var/lib/mysql
log-error={{ galera_error_log }}

port={{ mysql_port }}
socket={{ socket_path }}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
character-set-server=utf8

#
# * Galera-related settings
#
[galera]
# Mandatory settings
wsrep_on=ON
wsrep_node_name="{{ ansible_hostname }}"
wsrep_node_address="{{ ansible_ssh_host }}:{{ galera_port }}"
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_name="{{ galera_cluster_name }}"
wsrep_cluster_address="gcomm://{{ mariadb_galera_hosts }}"

# To start failed cluster comment out above and uncomment below...Once cluster
# is started revert changes and restart mysql on main node where change was made
#wsrep_cluster_address="gcomm://"
wsrep_sst_method=rsync

binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address="{{ galera_cluster_bind_address }}"
# query_cache_size=0
# query_cache_type=0

# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0


#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
